<a href="https://colab.research.google.com/github/Palakds/campusx_python/blob/main/Python_lec_5_tuples_sets_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Creating Tuples

In [ ]:
#empty
t1 = ()
print(t1)
print(type(t1))
#creating a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
#homo
t3 = (1,2,3,4,5)
print(t3)
#hetro
t4 = (1,2,3,4,5,'hello','world')
print(t4)
#tuple
t5 = (1,2,3,(4,5))
print(t5)
#using type conversion
t6 = tuple((1,2,3,4,5))
print(t6)

()
<class 'tuple'>
('hello',)
<class 'tuple'>
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 'hello', 'world')
(1, 2, 3, (4, 5))
(1, 2, 3, 4, 5)

## Accessing items
* Indexing
* Slicing

In [ ]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4, 5)
1
5

In [ ]:
print(t3[0:4])

(1, 2, 3, 4)

## Editing items

In [ ]:
#tuples are immutable just like strings

## Adding items

In [ ]:
#not possible

## Deleting items

In [ ]:
del t3 #we can delete the whole tuple but not a single items

In [ ]:
print(t3)

NameError: name 't3' is not defined

In [ ]:
t = (1,2,3,4,5)
t[-3:]
t[-1:-4:-1]

(5, 4, 3)

## Operations in tuples

In [ ]:
# + and *
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)
print(t1*3)
#membership
print(1 in t1)
#iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
1
2
3
4

## Tuple function

In [ ]:
#len/sum/min/max/sorted
print(t1)
print(len(t1))
print(sum(t1))
print(min(t1))
print(max(t1))
print(sorted(t1))

(1, 2, 3, 4)
4
10
1
4
[1, 2, 3, 4]

In [ ]:
#count
t1.count(1)

1

In [ ]:
#index
t1.index(1)

0

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [ ]:
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 10.090075492858887
Tuple time 10.51880145072937

In [ ]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [ ]:
a = [1,2,3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = (1,2,3)
b = a
a = a + (4,)
print(a)
print(b)
# easy to debug because tuples are immutable

(1, 2, 3, 4)
(1, 2, 3)

## Why use tuples ?

### Special Syntax

In [ ]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [ ]:
a,b,*others = (1,2,3,4,5,6,7,8,9)
print(a,b)
print(others)

1 2
[3, 4, 5, 6, 7, 8, 9]

In [ ]:
# zipping sets
a = (1,2,3)
b = (4,5,6)
c = zip(a,b)
print(c)
print(list(c))

<zip object at 0x78ef0c798f40>
[(1, 4), (2, 5), (3, 6)]

## Sets

##Creating sets

In [ ]:
#empty
s = {}
print(s)
print(type(s))
s1 = set()
print(s1)
print(type(s1))
#1d and 2d
s2 = {1,2,3,4,5}
print(s2)
s3 = {1,2,3,(4,5)}
print(s3)
#s4 = {1,2,3,{4,5}}
#print(s4)
# homo and hetro
s5 = {1,2,3,4,5,'hello','world'}
print(s5)
#using type conversion
s6 = set((1,2,3,4,5))
print(s6)
#duplicates not allowed
s7 = {1,2,3,4,5,1,2,3,4,5}
print(s7)
#sets can't have mutable items
#s8 = {1,2,3,[4,5]}
#print(s8)

{}
<class 'dict'>
set()
<class 'set'>
{1, 2, 3, 4, 5}
{3, 1, (4, 5), 2}
{'hello', 1, 2, 3, 4, 5, 'world'}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
s1 = {1,2,3}
s2 = {3,2,1}
s1 == s2

True

## Accessing Items

In [ ]:
s1 = {1,2,3,4}
s1[0]
#unoredered

TypeError: 'set' object is not subscriptable

## Editing Items

In [ ]:
s1 = {1,2,3,4}
s1[0] = 100
#since indexing is not allowed then ediitng is also not allowed

TypeError: 'set' object does not support item assignment

## Adding items

In [ ]:
s = {1,2,3,4}
#add
s.add(5)
print(s)
#update (multiple items)
s.update([6,7,8])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

## Deleting items

In [ ]:
#del
s = {1,2,3,4}
del s
#discard
s = {1,2,3,4}
s.discard(1)
print(s)
#remove
s.remove(2)
print(s)
#pop
s = {1,2,3,4}
s.pop()
print(s)
#clear
s.clear()
print(s)

{2, 3, 4}
{3, 4}
{2, 3, 4}
set()

## Sets Operation

In [ ]:
#union
s1={1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1|s2)
print(s1.union(s2))
#intersection
print(s1&s2)
print(s1.intersection(s2))
#difference
print(s1-s2)
print(s1.difference(s2))
#symmetric difference
print(s1^s2)
print(s1.symmetric_difference(s2))
#membership test
print(1 in s1)
#iteraion
for i in s1:
  print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
True
1
2
3
4
5

In [ ]:
#len/sum/min/max/sorted
s = {3,1,4,5,2,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))

6
22
1
7
[1, 2, 3, 4, 5, 7]

In [ ]:
#union/update
s1={1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#intersection/intersection_update
s1={1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.intersection(s2)
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
#difference/difference_update
s1={1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.difference(s2)
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [ ]:
#symmetric_difference/symmetric_difference_update
s1={1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.symmetric_difference(s2)
s1.symmetric_difference_update(s2)
print(s1)

{1, 2, 3, 6, 7, 8}

In [ ]:
#isdisjoint/issubset/issuperset
s1={1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.isdisjoint(s2))
print(s1.issubset(s2))
print(s1.issuperset(s2))

False
False
False

In [ ]:
#copy
s1={1,2,3,4,5}
s2 = s1.copy()
print(s2)

{1, 2, 3, 4, 5}

## Frozen set

In [ ]:
# create frozen set
fs = frozenset([1,2,3,4,5])
print(fs)
print(type(fs))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [ ]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [ ]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

## Sets Comprehension

In [ ]:
#example
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

## Create Dictionary

In [10]:
#empty dictionary
d = {}
print(d)
#1d dictionary
d1 = {'name':'palak','gender':'male'}
print(d1)
#2d dictionary -> JSON
d2 = {'name':'palak','gender':'male','fav_movies':['bahubali','kgf']}
print(d2)
s = {
    'name':'palak',
    'college':'nit',
    'sem':3,
    'subjects':{
        'dsa': 50,
        'maths':98,
        'english':56
        }

}
print(s)
#using sequence and dict function
d4 = dict([(1,1),(2,2),(3,3),('name','palak'),('age',22)])
print(d4)
#duplicate keys
d5 = {'name' : 'palak','name':'nitish'} #update wala will come
print(d5)
#mutable items as keys
#d6 = {'name':'palak',[1,2,3]:2}
#print(d6)

{}
{'name': 'palak', 'gender': 'male'}
{'name': 'palak', 'gender': 'male', 'fav_movies': ['bahubali', 'kgf']}
{'name': 'palak', 'college': 'nit', 'sem': 3, 'subjects': {'dsa': 50, 'maths': 98, 'english': 56}}
{1: 1, 2: 2, 3: 3, 'name': 'palak', 'age': 22}
{'name': 'nitish'}

## Accessing items

In [21]:
my_dict = {'name':'palak','age':22}
#my_dict[0]  #indexing has no meaning
my_dict['name']
#get
my_dict.get('name')

s
s['subjects']['maths']
s['subjects']['ds'] = 75
s

{'name': 'palak',
 'college': 'nit',
 'sem': 3,
 'subjects': {'dsa': 50, 'maths': 98, 'english': 56, 'ds': 75}}

## Adding key-value pair

In [16]:
print(d4)
d4['gender']='female'
d4
d4['weight']=52
d4

{1: 1, 2: 2, 3: 3, 'name': 'palak', 'age': 22, 'gender': 'female'}

{1: 1,
 2: 2,
 3: 3,
 'name': 'palak',
 'age': 22,
 'gender': 'female',
 'weight': 52}

## Remove key-value pair

In [28]:
#pop
print(d4)
d4.pop('weight')
d4
#popitem
d4.popitem()
d4
#del
del d4['name']
d4
#clear
#d4.clear()
#d4

{}

KeyError: 'weight'

In [25]:
#2d
del s['subjects']['maths']
s

{'name': 'palak',
 'college': 'nit',
 'sem': 3,
 'subjects': {'dsa': 50, 'english': 56, 'ds': 75}}

## Editing key-value pair

In [31]:
s['sem'] = 5
s
s['subjects']['dsa'] = 99
s

{'name': 'palak',
 'college': 'nit',
 'sem': 5,
 'subjects': {'dsa': 99, 'english': 56, 'ds': 75}}

## Dictionary Operations
* Membership
* iteration

In [33]:
print(s)
#membership
print('name' in s)
#iteration
for i in s:
  print(i)

{'name': 'palak', 'college': 'nit', 'sem': 5, 'subjects': {'dsa': 99, 'english': 56, 'ds': 75}}
True
name
college
sem
subjects

In [34]:
d = {'name':'palak','age':22,'gender':'female'}
for i in d:
  print(i,d[i])

name palak
age 22
gender female

## Dictionary functions

In [38]:
print(d)
#len/sorted
print(len(d))
print(sorted(d))
#min/max
print(min(d))
print(max(d))

{'name': 'palak', 'age': 22, 'gender': 'female'}
3
['age', 'gender', 'name']
age
name

In [37]:
#items/keys/values
print(d.items())
print(d.keys())
print(d.values())

dict_items([('name', 'palak'), ('age', 22), ('gender', 'female')])
dict_keys(['name', 'age', 'gender'])
dict_values(['palak', 22, 'female'])

In [39]:
#update
d1 = {1:1,2:4,3:9}
d2 = {4:16,5:25}
d1.update(d2)
d1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Dictionary Comprehension
![image.png]()

In [40]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [41]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [42]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [43]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [44]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [45]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [46]:
{
    2:{1:2,2:4,3:6,4:8},
    3:{1:3,2:6,3:9,4:12},
    4:{1:4,2:8,3:12,4:16}
}

{2: {1: 2, 2: 4, 3: 6, 4: 8},
 3: {1: 3, 2: 6, 3: 9, 4: 12},
 4: {1: 4, 2: 8, 3: 12, 4: 16}}