<a href="https://colab.research.google.com/github/Palakds/campusx_python/blob/main/Python_lec_2(if_else).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Find the sum of a 3- digit number enter by the user
number = int(input('Enter a three digit number :'))
print(number)
a= number%10
number = number//10
b = number%10
number = number//10
c=number%10
print(a+b+c)

Enter a three digit number :123
123
6

## If-else in Python

In [ ]:
# login program and identification
email = input('Enter your email :')
password = input('Enter your password :')
if email == 'palakgupta1234@gmail.com' and password == '1234':
  print('welcome palak')
else :
  print('wrong email or password')

Enter your email :palak1234@gmail.com
Enter your password :1234
wrong email or password

In [ ]:
# if-else
# 1. Find the min of 3 given numbers
# 2. Menu driven Program

In [ ]:
# min of 3 numbers
a = int(input('first number :'))
b = int(input('second number :'))
c = int(input('third number :'))
if a<b and a<c :
  print('smallest numbers is :',a)
elif b<c :
  print('smallest number is :', b)
else :
  print('smallest number is :',c)

first number :1
second number :5
third number :2
smallest numbers is : 1

In [ ]:
# menu driven calculator
fnum = int(input('Enter first number :' ))
snum = int(input('Enter the second number :'))
op = input('Enter the operation')
if op=='+':
  print(fnum + snum)
elif op=='-':
  print(fnum-snum)
elif op=='*':
  print(fnum*snum)
else:
  print(fnum/snum)

Enter first number :98
Enter the second number :123
Enter the operation*
12054

## Models in Python

*   math
* keywords
* constan
* random

In [ ]:
import math
math.floor(6.9)

6

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# import random
import random
print(random.randint(1,100))

98

In [ ]:
#datetime
import datetime
print(datetime.datetime.now())

2024-08-08 13:25:28.795413

# Loops in Python
* Need for loop
* While loop
* For loop

In [ ]:
number= int(input('Enter the number'))
i = 1
while i<11:
  print(number*i)
  i +=1

Enter the number11
11
22
33
44
55
66
77
88
99
110

In [ ]:
 # while loop with else
x = 1
while x<3:
   print(x)
   x+=1
else:
   print('limit crossed')

1
2
limit crossed

In [ ]:
# Build a guessing game
# generator a random integer between 1 and 100
import random
jackpot = random.randint(1,100)
guess=int(input('guess karo :'))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('galat!guess higher')
  else:
    print('galat! guess lower')
  guess=int(input('guess karo :'))
  counter += 1
else:
  print('correct guess')
  print('attempts',counter)

guess karo :67
galat! guess lower
guess karo :45
galat! guess lower
guess karo :34
galat! guess lower
guess karo :22
galat! guess lower
guess karo :12
galat! guess lower
guess karo :1
galat!guess higher
guess karo :5
correct guess

In [ ]:
# For loop demo
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# for loop example

#### Program - The current population of a town is 10000. The population of the town is increasoing at the rate of 10% per year. you have to write a program to find out the population at the end of each year of the last 10 years.

In [ ]:
curr_pop = 10000
for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [ ]:
n = int(input('enter n :'))
result = 0
fact = 1
for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact
print(result)

enter n :5
2.708333333333333

## Nested Loops

In [ ]:
for i  in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*** <br>
**** <br>
***<br>

In [ ]:
rows = int(input('enter  number of rows :'))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

enter  number of rows :6
*
**
***
****
*****
******

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [ ]:
rows = int(input('enter number of rows :'))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
      print(k,end='')
  print()

enter number of rows :4
1
121
12321
1234321

# Loop Control Statement

- Break
- Continue
- Pass

In [ ]:
lower = int(input('enter the lower range'))
higher = int(input('enter the higher range'))
for i in range(lower,higher+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
      print(i)

enter the lower range10
enter the higher range100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# continue statement
for i in range(1,10):
  if i ==5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
# pass
for i in range(1,10):
  pass