<a href="https://colab.research.google.com/github/Palakds/campusx_python/blob/main/Python_lec_7_OOP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Everything in python is a object

In [ ]:
L = [1,2,3]
L.upper()

AttributeError: 'list' object has no attribute 'upper'

In [ ]:
s = 'hello'
s.append('x')

AttributeError: 'str' object has no attribute 'append'

In [ ]:
L = [1,2,3]
print(type(L))

<class 'list'>

In [ ]:
L.upper()

AttributeError: 'list' object has no attribute 'upper'

In [ ]:
#synatx to create an object
#objectname = classname()

In [ ]:
#object literal
L = [1,2,3]

In [ ]:
L = list()
L

[]

In [ ]:
s  = str()
s

''

In [ ]:
#pascal case
#HelloWorld
#camel case
#helloWorld
#snake case
#hello_world
#kebab case
#hello-world

In [10]:
class Atm:
  #constructor(special function) -> superpower ->
  def __init_(self):
    self.pin = ''
    self.balance = 0
    self.menu()

  def menu(self):
    user_input = input(
        """
        Hi how can I help you?
        1. Press 1 to create pin
        2. Press 2 to change pin
        3. Press 3 to check blance
        4. Press 4 to withdraw
        5. Anything else to withdraw
        5. Anything else to exit
        """
    )

    if user_input == '1':
     self.create_pin()
    elif user_input == '2':
     self.change_pin()
    elif user_input == '3':
      self.check_balance()
    elif user_input == '4':
      self.withdraw()
    else:
      exit()

  def create_pin(self):
    user_pin = input('enter your pin')
    self.pin = user_pin

    user_balance = int(input('enter balance'))
    self.balance = user_balance

    print('pin created successfully')
    self.menu()

  def change_pin(self):
    old_pin = input('enter old pin')

    if old_pin == self.pin:
      #let him change the pin
      new_pin = input('enter the new pin')
      self.pin = new_pin
      print('pin change successfully')
      self.menu()
    else:
      print('nai karne de sakta re baba')
      self.menu()

  def check_balance(self):
    user_pin = input('enter your pin')
    if user_pin == self.pin:
      print('your balance is',self.balance)
    else:
      print('chal nikal yahan se')

  def withdraw(self):
    user_pin = input('enter the pin')
    if user_pin == self.pin:
      #allow to withdraw
      amount = int(input('enter the amount'))
      if amount <=self.balance:
        self.balance = self.balance - amount
        print('withdrawl successful.balance is',self.balance)
      else:
        print('abe garib')
    else:
      print('sale chor')
    self.menu()

In [11]:
obj1 = Atm()

In [5]:
id(obj1)

137008968459232

In [6]:
obj2 = Atm()

In [7]:
id(obj2)

137008968463072

In [13]:
L = [1,2,3]
len(L)   #fucntion -> since outside the list class
L.append(4)   #method -> since inside the list class

In [14]:
class Temp:

  def __init__(self):
    print('hello')

obj = Temp( )

hello

# Fraction class

In [63]:
class Fraction:

  def __init__(self,x,y):

    #parametrized constructor
    self.num = x
    self.den = y

  def __str__(self):
    return '{}/{}'.format(self.num,self.den)

  def __add__(self,other):
    new_num = self.num*other.den + other.num*self.den
    new_den = self.den*other.den

    return '{}/{}'.format(new_num,new_den)


  def __sub__(self,other):
    new_num = self.num*other.den - other.num*self.den
    new_den = self.den*other.den

    return '{}/{}'.format(new_num,new_den)


  def __mul__(self,other):
    new_num = self.num*other.num
    new_den = self.den*other.den

    return '{}/{}'.format(new_num,new_den)

  def __truediv__(self,other):
    new_num = self.num*other.den
    new_den = self.den*other.num

    return '{}/{}'.format(new_num,new_den)


  def convert_to_decimal(self):
    return self.num/self.den

In [65]:
fr1 = Fraction(3,4)
fr2 = Fraction(1,2)

In [66]:
fr1.convert_to_decimal()

0.75

In [43]:
print(type(fr1))

<class '__main__.Fraction'>

In [44]:
print(fr2)

1/2

In [50]:
print(fr1 + fr2)

10/8

In [51]:
print(fr1 - fr2)

2/8

In [55]:
print(fr1 * fr2)

3/8

In [60]:
print(fr1 / fr2)

6/4